/*Tablet*/

@media (min-width: 767px) and (max-width: 768px) {
  /* Menu */
  section.menu {
    max-width: 768px;
    width: 100%;
    height: 100px;
  }

  header {
    width: 300px;
    flex-direction: column;
    white-space: nowrap;
  }

  header .menu__title {
    margin-top: 50px;
    margin-right: 50px;
  }

  header, a {
    margin-top: -50px;
  }

  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    /* flex-direction: column; */
    /* white-space: nowrap;
    flex-wrap: wrap; */
  }

  .menu__list li {
    margin-left: 30px;
    margin-bottom: 20px;
  }

  /*title*/
  .about__paragraph {
    width: 700px;
    padding: 20px;
  }
  
  .about__title {
    padding: 20px;
  }

  /*Skills*/
  .skills__line {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skills__img {
  width: 10px;
}

  /*Hobbies*/

  .hobbies__line {
    margin-right: 50px;
  }

  /*Experiências acadêmicas*/

  .experience__info {
    text-align: center;
  }

  .experiencie__box {
  flex-direction: column;
}

  /*Expeirência profissional*/
    section.formcontato {
    width: 763px;
    border-left: 3px solid #000;
  }

  .formcontato__contacto {
    width: 100%;
    margin-bottom: 40px;
  }
  .formcontato__img {
    display: none;
  }

  .formcontato__text {
    width: 400px;
  }

  .formcontato__form {
    width: 400px;
  }

}

/*Mobile*/
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  /*Menu*/
  section.menu {
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  header {
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    gap: 0;
    margin-bottom: 20px;
  }

  .menu__list {
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  /*Titulo*/
  .title__div__container {
    flex-direction: column;
  }

  .title__profile {
    margin-right: 30px;
  }

  .title__network{
    align-items: center;
    margin-right: 30px;
  }
  /*Sessão sobre*/

  section.about {
    max-width: 375px;
    width: 100%;
  }

  .about__container {
    width: 375px;
    padding: 20px;
  }

  .about__paragraph {
    margin-right: 30px;
  }

  /*Skills*/

  section.skills {
    max-width: 375px;
    width: 100%;
  }

  .skills__line {
    grid-template-columns: 1fr;
    margin-left: 40px;
    width: 20px;
  }
  /*Hobbies*/

  section.hobbies {
    max-width: 375px;
    width: 100%;
  }

  .hobbies__line {
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
  }
  /*Formação Acadêmica*/

  .academic__courses {
    flex-direction: column;
  }

  /*Experiência Profissional*/

  .experiencie__box {
    flex-direction: column;
    align-items: center;
  }

  .experience__img {
    width: 200%;
  }

  /*Contato*/

  .formcontato__contacto {
    flex-direction: column;
    width: 99%;
  }

  .formcontato__img {
    display: none;
  }

  .formcontato__text {
    width: 90%;
    padding-left: 15px;
  }

  .formcontato__form {
    width: 87%;
    margin-left: -16px;
  }
  /*Footer*/

}